# Haune — PUBLIC repo.
#
# Published: the overview (README), license, a demo screenshot, and the THIN client
# wrappers (python/) that just download + launch the binary. The IMPLEMENTATION stays
# PROPRIETARY and is NOT published: the C++ fingerprint patch set, the coherent identity
# generator, the build configs, and internal design docs are kept private/local (LICENSE).
#
# Strategy: ignore everything, then allow only the public files.

/*
!/.gitignore
!/README.md
!/LICENSE
!/docs/
/docs/*
!/docs/index.html
!/docs/assets/
/docs/assets/*
!/docs/assets/*.png
!/docs/assets/*.gif
!/python/
/python/**/__pycache__/
/python/**/*.egg-info/
/python/**/build/
/python/**/dist/
!/clients/
/clients/**/bin/
/clients/**/obj/
!/.github/
